/* Navbar */
.container.navbar {
  overflow: visible;
}

a.navbar-brand {
  margin-left: 40px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px ;
  height: 60px;
}
.nav-item.dropdown.show {
  background-color: rgb(24, 94, 173);
}
.dropdown-menu {
  margin: 0;
  overflow: visible;
}

/* Website background */

body{
  background-color: #a71414;
}

/*Landing page*/

.container {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 15px 65px 30px; 
  color: #213159;
  background-color: white;
  border: 20px;
}

.container.p {
  padding-left: 10px;
}

.col-md-12 {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

#Thumbnail {
  width: 200px;
  height: auto;
  border: thin;
}

p {
  display: inline;
  font-size: 18px;
  color: darkslategray;
}

/*Temperature */

.Temperature {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #213159;
  background-color: white;
}

/* Humidity */

.Humidity {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #213159;
  background-color: white;
}



/* Cloudiness */

.Cloudiness {
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #213159;
    background-color: white;
  }


/* Windspeed */

.Windspeed {
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #213159;
  background-color: white;
}


/*comparison*/

.container.image-grid{
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.image-grid.img{
  width: 200px;
  text-align: center;
  

}

/*Data Table*/

.container table{
  background-color: white;
}
